body{
    width: 100%;
    background-color: #cdfcfd;
    }
#kero{
    width: 70px;
    height: 70px;
}
#menu{
    width: 100%;
    list-style: none;
    text-align: left;
    }

#menu li{
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
    }
h1{
    margin-top: -5%;
    font-size: 40px;
    color: #FBBDBC;
    text-align: center;
}
h2{
    color: #F2CECE;
}
h3{
    color: #76D1D0;
}
h5{
    text-align: center;
    color: #76D1D0;
}
#figure{
    max-width: 200px;
    max-height: 450px;
    margin-left: 42%;
}
button{
    width: 75px;
    height: 30px;
    background-color: rgb(252, 182, 155);
    border-radius: 5px;
    border-color: lightpink;
}
#volver{
    background-color: #F2CECE;
    width: 80px;
}
#por{
    width: 30px;
    height: 40px;
    margin-left: 30%;
}
#bolillo{
    width: 185px;
    height: 230px;
}
#ke{
    width: 50px;
    height: 50px;
    margin-left: 15%;
    margin-bottom: 5%;
}
#vol{
    background-color: #F2CECE;
    width: 80px;
    margin-top: -6%;
    margin-left: 90%;
}
#clic{
    color: #76D1D0;
    text-align: left;
}
@media (max-width: 600px){
    #vol{
        margin-top: -21%;
        margin-left: 70%;
    }
    h1{
        margin-top: 5%;
    }
    #figure{
        margin-left: 25%;
    }
}
