body{
    background-color:  #36afa5;
    padding: 1%;
}
header{
    width: 99%;
    height: 100%;
    background-color: #add451;
    border: 5px;
    border-radius: 15px;
    border-style: dashed;
    border-color: white;
}
h1, h2{
    text-align: center;
    font-family: cursive;
    color: white;
}
#pkmn{
    width: 140px;
    height: 150px;
}
img{
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
        
}
#proyectos{
    width:70%;
    margin:auto;
    height:370px;
    text-align:center;
}
.botones{
    width:170px;
    height:170px;
    background-color: #eee12e;
    border: 1px;
    border-style: solid;
    border-color: white;
    margin-top: 2%;
    border-radius: 5px;
    padding:10px;
}
div{
    margin-left: 3%;
}
a{
    background-color: #d38888;
    transition: background-color .5s;
  }
a:hover{
    background-color: #98e0e9;
}